bayesian_optimization==1.4.2
imbalanced_learn==0.10.0
imblearn==0.0
joblib==1.2.0
lazypredict==0.2.12
matplotlib==3.6.2
numpy==1.23.5
ordered_set==4.1.0
pandas==1.5.2
plotly==5.11.0
scikit_learn==1.2.0
scipy==1.10.1
seaborn==0.11.2
shap==0.41.0
st_pages==0.4.0
statsmodels==0.13.5
streamlit==1.21.0
xgboost==1.7.1
